<div class="dashboard-container">
  <!-- SIDEBAR (aside) -->
  <aside class="sidebar">
    <div class="logo">
      <img src="logo.png" alt="logo" width="40px">
      <h1>TaskFlow</h1>
    </div>


    <button class="button-blue">
      <span class="material-symbols-outlined">add</span>
      Nouveau projet
    </button>

    <div class="sidebar-footer">
      <div class="user-profile">
        <div class="avatar">
          <div>

          </div>
          {{ userFirstName() | titlecase | slice: 0 : 1 }}{{ userLastName() | titlecase | slice: 0 : 1 }}
        </div>
        <div class="user-info">
          <span class="user-name">{{ userFirstName() | titlecase }} {{ userLastName() | titlecase }}
          </span>
          <div class="user-email">{{ userEmail() }}</div>
        </div>
      </div>
    </div>
  </aside>

  <!-- NAVIGATION TOPBAR (nav) -->
  <nav class="topbar">



    <div class="search-box">
      <span class="material-symbols-outlined ">
        search
      </span>
      <input type="search" placeholder="Rechercher une tâche..." [formControl]="searchInput" />
    </div>
    <button type="button" class="button-blue" (click)="signOut()">
      <span class="material-symbols-outlined">logout</span>
      Déconnexion
    </button>

  </nav>

  <!-- MAIN CONTENT (main) -->
  <main class="main-content">
    <div class="header-left">
      <div>
        <h1>Bonjour, {{ userFirstName() | titlecase }}</h1>
        <p class="date">{{ today | date: 'fullDate' }}</p>
      </div>

      <button type="button" class="button-blue" (click)="toggleAddTaskModal()">
        <span class="material-symbols-outlined">add</span> Ajouter une tâche
      </button>
    </div>
    <section class="stats-container">
      <div class="stat-card">
        <img src="total.png" alt="" class="stat-icon">
        <div class="stat-info">
          <span class="stat-number">{{ totalTasks() }}</span>
          <span class="stat-label">Total Tâches</span>
        </div>
      </div>
      <div class="stat-card">
        <img src="on-going.png" alt="" class="stat-icon">
        <div class="stat-info">
          <span class="stat-number">{{ ongoingTasks() }}</span>
          <span class="stat-label">En Cours</span>
        </div>
      </div>
      <div class="stat-card">
        <img src="complete.png" alt="logo tâches complétées" class="stat-icon">
        <div class="stat-info">
          <span class="stat-number">{{ completedTasks() }}</span>
          <span class="stat-label">Complétées</span>
        </div>
      </div>
    </section>

    <section class="detail-task">
      <h3>App Mobile v2</h3>
      <p> Refonte complète de l'éxperience utilisateur pour la version 2.0, incluant le nouveau système de design et
        l'intégration des API.</p>

    </section>

    <section class="add-task-section">
      <!--<form [formGroup]="createTaskForm" class="add-task-form">
          <input type="text" placeholder="Ajouter une nouvelle tâche..." class="task-input" formControlName="name" />
        <select class="select-priority" formControlName="priority">
          @for (priority of priorities; track priority.label) {
            <option [value]="priority.value">{{ priority.label }}</option>
          }
        </select>
        </form>-->
    </section>

    <section class="tasks-section">
      <div class="tasks-header">
        <h2>Tâches du projet</h2>
      </div>

      <div class="tasks-list">
        @for (item of tasks(); track item.id) {
        <div class="task-item">
          <label class="checkbox-container">
            <input type="checkbox" [checked]="item.is_done" (change)="updateCheckbox(item)" />
            <span class="checkmark"></span>
          </label>
          <div class="task-content">
            <div class="task-priority">
              <h3 class="task-title" [class.taskIsDone]="item.is_done === true">
                {{ item.titleTask }}



              </h3> @switch(item.priority) {
              @case ("low") {
              <span class="badge-priority priority-low">Faible</span>
              }
              @case ("medium") {
              <span class="badge-priority priority-medium">Moyenne</span>
              }
              @case ("high") {
              <span class="badge-priority priority-high">Haute</span>
              }
              }
            </div>

            <p class="description-task"> {{ item.description }} </p>
            <div class="due"> 
              <span class="material-symbols-outlined due">calendar_today</span> 
              <span class="due"> Échéance : {{ item.dueDate | date }}</span>

            </div>

          </div>

          <div class="">

          </div>

          <div class="task-actions">

            <button class="button-icon">
              <span class="material-symbols-outlined">edit</span>
            </button>


            <!--<form class="flex flex-col gap-4">
                  <label class="text-sky-100 text-center">Modifier la tâche</label>
                  <input type="text" class="bg-sky-100 task-modified" [formControl]="updateTaskInput" />
                  <button type="submit" hlmBtn brnDialogClose (click)="OnSubmitUpdatedTask(item.id)" class="btn-blue">
                    Modifier
                  </button>
                </form>-->

            <button class="button-icon" (click)="delete(item.id)">
              <span class="material-symbols-outlined">delete</span>
            </button>
          </div>
        </div>
        }
      </div>
    </section>
  </main>
</div>
@if (isAddTaskOpen()) {
<app-add-task (close)="toggleAddTaskModal()" (taskAdded)="getTasks()">

</app-add-task>
}
<!---->