.view {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 30%;
  background-color: #5aa0de;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
  padding: 10px;
  border: 1px solid #08579d;
}
h1 {
  color: #08579d;
}
h2,
label {
  color: #08579d;
}
h3 {
  color: rgb(255, 255, 255);
  font-size: 0.9em;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--blue-dark);
}

form {
  display: flex;
  flex-direction: column;
gap: 2px

}

.group-input {
  display: flex;
  justify-content: space-between;
;
}

button { border: none;padding: 5px;color: var(--blue-dark);}
.button:hover {cursor: pointer;}
.button:active {background-color: black;}

.invalid-form{ opacity: 0.6;}

.error {
  min-height: 14px; /* espace réservé */
  font-size: 0.75rem;
  color: rgb(141, 18, 18);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.error.visible {
  opacity: 1;
}